#Navigation .nav-link{
    color:white; 
    font-size: .9em;
    font-weight:bolder;
}
#Navigation .navbar-brand {
    color:white;
    font-weight:bolder;
    text-transform:uppercase;
    font-size: 1.8em;
}